.herobg {
  background: radial-gradient(
      65% 379.44% at 74.58% 50%,
      rgba(6, 9, 7, 0.2) 0%,
      rgba(97, 186, 109, 0.5) 100%
    ),
    url(./images/aboutusbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-container {
  background: url("./images/aboutcontainer.png"), rgba(37, 74, 42, 0.8);
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.aboutsection2 {
  background: radial-gradient(
    65% 379.44% at 74.58% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.48) 100%
  );
}
.aboutsection3 {
  background: linear-gradient(
      0deg,
      rgba(97, 186, 109, 0.3),
      rgba(97, 186, 109, 0.3)
    ),
    url("./images/aboutsection3.png");
  background-size: cover;
  background-position: center;
}
